[*.{cs,vb}]

# IDE0032: Use auto property
dotnet_style_prefer_auto_properties = false:suggestion

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = discard_variable:silent
